body{
    color: rgb(230, 221, 141);
    background-color: rgb(37, 19, 56);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}

a{
    color: wheat;
    text-decoration: none;
}

img{
    width: e0px;
    height: 550px;
}

.center{
    text-align: center;
}