body{
    color: wheat;
    background-color: rebeccapurple;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}

a{
    color: wheat;
    text-decoration: none;
}

img{
    width: 1000px;
    height: 550px;
}

.center{
    text-align: center;
}